@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}
h3 {
  font-family: "Manrope", serif;
}

li {
  list-style: none;
  font-family: "Manrope", serif;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
