@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
nav {
  display: flex;
  justify-content: space-evenly;
  font-family: "Rubik", sans-serif;
}
h1 {
  font-family: "Suez One", serif;
  font-size: 45px;
}

nav > a {
  margin-top: 3.5em;
}

div {
  display: grid;
}
#nb {
  font-family: "Tourney", cursive;
}
ul {
  text-align: center;
}
.pics {
  max-width: 100%;
  height: 100%;
}
li {
  font-family: "Rubik", sans-serif;
  list-style: none;
}
a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}
.new-price {
  color: red;
}

a:hover {
  text-decoration: none;
  background-color: gray;
  box-shadow: 0px 6px 8px gray;
}
.lign {
  text-align: center;
  color: white;
  background-color: gray;
}
.sneakers,
.Category {
  margin: 1em;
}

img {
  display: block;
  max-width: 100%;
}
body {
  display: grid;
}

h2,
h4,
h3 {
  font-family: "Rubik", sans-serif;
}
h5 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}
main {
  display: grid;
}
p {
  font-family: "Rubik", sans-serif;
}
#saleTag {
  color: red;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
  }
  div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title {
    display: grid;
    grid-column: 1/4;
    text-align: center;
  }
  .product-s,
  .product2 {
    display: flex;
    margin-left: 1em;
  }
  h3 {
    display: grid;
    grid-column: 1/4;
  }
  img {
    display: block;
  }
  .pics {
    height: 100%;
  }
  body > h2 {
    display: grid;
    grid-column: 1/4;
  }
  .Category {
    margin: 1em;
  }
  .categ {
    display: grid;
    grid-column: 1/4;
  }
  .product2 {
    margin-left: 3em;
  }

  li {
    display: flex;
  }
  a {
    display: grid;
    grid-column: 1/4;
  }
}
